<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.telephony.overlay.transsion.common">

    <application android:hasCode="false" />
    <overlay
        android:isStatic="true"
        android:priority="200"
        android:targetPackage="com.android.phone" />
</manifest>
