#
# Copyright (C) 2024 IrawansPrjkt
#
# SPDX-License-Identifier: Apache-2.0
#

on boot
    # Touch
    chown system system /proc/game_state

on property:sys.boot_completed=1
    write /sys/devices/platform/odm/odm:tran_battery/OTG_CTL 1
